@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #eef1fd;
}

@keyframes toast-progress {
    from {
        transform: scaleX(1);
    }
    to {
        transform: scaleX(0);
    }
}
